    <div id="actions">
        <a href="./edit">Edit</a>
        <a href="./move">Move</a>
        <a href="./delete">Delete</a>
        <a href="./history">History</a>
        <a href="./talk">Talk</a>
    </div>

    <article>This is the main page of the mdWiki.</article>

#actions
  a(href="./edit") Edit
  a(href="./move") Move
  a(href="./delete") Delete
  a(href="./history") History
  a(href="./talk") Talk

article= article