menu#sidebar
  h2 Navigation
  ul
    li: a(href="/Main_Page") Main Page
    li: a(href="/special/recentchanges") Recent Changes
    li: a(href="/special/allpages") All Pages
    li: a(/special/copyright) Copyright